/* עיצוב כללי לכותרת */
h1 {
    text-align: center; /* מיישר את הכותרת למרכז הדף */
    font-size: 2.5em; /* גודל הפונט של הכותרת */
    color: #fff; /* צבע הגופן בהיר */
    background-color: #863f3f; /* רקע כחול כהה מאחורי הכותרת */
    padding: 15px; /* ריפוד פנימי סביב הכותרת */
    border-radius: 10px; /* פינות מעוגרות */
    margin-bottom: 20px; /* רווח בתחתית הכותרת */
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4); /* הוספת צל כהה לכותרת */
    direction: rtl;
    display: inline-block; /* הופך את הכותרת לגורם עם רוחב משתנה, הרקע ייחתך לפי רוחב הכותרת */
}



/* עיצוב כללי לרשימה מסודרת */
ol {
    text-align: right; /* כיוון וצידוד לימין */
    
    direction: rtl; /* כיוון כותב מימין לשמאל */
    font-size: 1.2em; /* גודל פונט עבור הרשימה */
    background-color: rgba(255, 255, 255, 0.8); /* צבע רקע בהיר למחצה */
    padding: 15px; /* ריפוד פנימי של הרשימה */
    border-radius: 10px; /* פינות מעוגלות לרשימה */
    width: fit-content; /* רוחב התאם לתוכן של הרשימה */
    margin: 0 auto 20px; /* יישור אוטומטי של הרשימה במרכז הדף */
    list-style-position: inside; /* ממקם את התו (המספר או התו) בתוך תיבת הרשימה */
}

    ol li {
        margin-bottom: 15px; /* רווח בין פריטי הרשימה */
    }
