
table {
    max-width : 80%; /* שולחן תופס 80% מהרוחב הזמין, מותאם למרכז */
    margin: 0 auto; /* ממקם את הטבלה במרכז הדף */
   
    
}

img {
    width: 300px; /* גודל רוחב התמונה */
    height: 300px; /* גובה התמונה */
    object-fit: cover; /* חותך את התמונה כדי להתאים למידות בלי לעיוות */
}

